img {
  width: 250px;
  height: 60%;
}
body {
    font: 15px arial, sans-serif;
    background-color:#add8e6;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  #bodybox {
    margin: auto;
    max-width: 550px;
    font: 15px arial, sans-serif;
    background-color: white;
    border-style: solid;
    border-width: 1px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 25px;
    padding-left: 25px;
    box-shadow: 5px 5px 5px grey;
    border-radius: 15px;
  }

  
  #chatbox {
    font: 17px arial, sans-serif;
    height: 22px;
    width: 100%;
  }